<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head') %>
    <title>Page not found</title>
</head>
<body>
    <div class="container text-center mt-5">
        <h1 class="display-1">404</h1>
        <p class="lead">P치gina no encontrada</p>
        <p class="lead">Lo sentimos, la p치gina que est치s buscando no existe.</p>
        <a href="/" class="btn btn-primary">Volver a la p치gina de inicio</a>
    </div>    
</body>
</html>
